In [2]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("diabetes.csv")
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,52,1
3,150,66,23,94,28.1,0.167,21,0
4,150,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

In [5]:
df.columns

Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [6]:
df["Outcome"].replace({1: "yes", 0: "no"}, inplace= True)

In [8]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,50,35,0,33.6,0.627,50,yes
1,85,66,29,0,26.6,0.351,31,no
2,183,64,0,0,23.3,0.672,52,yes
3,150,66,23,94,28.1,0.167,21,no
4,150,40,35,168,43.1,2.288,33,yes
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,no
764,122,70,27,0,36.8,0.340,27,no
765,121,72,23,112,26.2,0.245,30,no
766,126,60,0,0,30.1,0.349,47,yes
767,93,70,31,0,30.4,0.315,23,no

In [9]:
x = df.drop("Outcome", axis = 1)
y = df["Outcome"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 1)

In [17]:
x_train

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
663,145,80,46,130,37.9,0.637,40
712,129,62,36,0,41.2,0.441,38
161,102,74,40,105,37.2,0.204,45
509,120,78,0,0,25.0,0.409,64
305,120,76,37,105,39.7,0.215,29
...,...,...,...,...,...,...,...
645,157,74,35,440,39.4,0.134,30
715,187,50,33,392,33.9,0.826,34
72,126,90,0,0,43.4,0.583,42
235,171,72,0,0,43.6,0.479,26
37,102,76,37,0,32.9,0.665,46

In [13]:
y_train

663    yes
712    yes
161     no
509     no
305     no
      ...
645     no
715    yes
72     yes
235    yes
37     yes
Name: Outcome, Length: 614, dtype: object

In [15]:
lg_model = LogisticRegression()
lg_model.fit(x_train.values, y_train)

LogisticRegression()

In [20]:
y_pred = lg_model.predict(x_test.values)
y_pred

array(['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no',
       'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no'], dtype=object)

In [21]:
x.columns

Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [22]:
Glucose = 145
BloodPressure = 80
SkinThickness = 46
Insulin = 130
BMI = 37.9
DiabetesPedigreeFunction = 0.637
Age = 40

In [23]:
test = np.array([[Glucose,BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age ]])
test

array([[145.   ,  80.   ,  46.   , 130.   ,  37.9  ,   0.637,  40.   ]])

In [27]:
y_test1 = lg_model.predict(test)[0]
y_test1

'yes'

In [29]:
import pickle

with open ("model.pkl", "wb") as f:
    pickle.dump(lg_model, f)

In [30]:
json_data = {"Outcome": {1: "yes", 0: "no"}, "columns": list(x.columns)}
json_data

{'Outcome': {1: 'yes', 0: 'no'},
 'columns': ['Glucose',
  'BloodPressure',
  'SkinThickness',
  'Insulin',
  'BMI',
  'DiabetesPedigreeFunction',
  'Age']}

In [33]:
import json

with open ("json_data.json", "w") as f:
    json.dump(json_data, f)